<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"
                    style="color: rgb(201, 197, 197);">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/testing" routerLinkActive="active" class="nav-link"
                    style="color:#15942b ;">Test</a>
                <!-- <h5 style="color: rgb(201, 197, 197);">Test</h5>
                </a> -->
            </li>
        </ul>
    </div> 
</nav>
<body>
    <app-result disease={{disease}} url={{url}} (backEvent)=(back()) *ngIf="displayResult"></app-result>
    <div class="filebrowser col-6 offset-3" *ngIf="!displayResult">
        <input class="upload-box" type="file" accept="image/*" (change)=(onChoose($event))>
        <br>
        <button class="upload" (click)=(onUpload($event))>Upload</button>
    </div>
    
</body>
