.input-image{
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 20px;
}

.para{
    margin-left: 40px;
    margin-top: 40px;
}

body{
    font-family: 'Montserrat';
}

.back-to{
    margin-top: 40px;
    margin-left: 200px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border-color: rgba(0,0,0,0);
    background-color: #1ba832;
    color: white;
}

.back-to:hover{
    background-color: white;
    color: #15942b;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.01),0 6px 20px 0 rgba(0,0,0,0.1);
}
.bkl{
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.akiec{
    margin-left: 50px;
    margin-right: 20px;
}
.nv{
    margin-left: 50px;
    margin-right: 20px;
}
.mel{
    margin-left: 50px;
    margin-right: 20px;
}
.bcc{
    margin-left: 50px;
    margin-right: 20px;
}
.df{
    margin-left: 50px;
    margin-right: 20px;
}
.vasc{
    margin-left: 50px;
    margin-right: 20px;
}